 /* reset de sizes, aí depois tu vai espaçando conforme tu deseja, sabe?? */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inria Sans", sans-serif;
    text-align: center;
    background-color: black;
    color: rgb(253, 253, 253);
    margin-top: 100pt;
    margin-bottom: 280px;
    /*background-image: linear-gradient(rgb(0, 4, 112), rgb(74, 13, 104), rgb(38, 2, 56));*/
    height: 100%;
    /* Isso aqui vai deixar o site como se fosse uma coluna tlgd, uma coisa empilhada emcima da outra. É uma maneira simples de explicar. Depois tu pesqusia, flex-box CSS*/
    display: flex;
    flex-direction: column;
}

div#base{
    background-color:rgb(58, 0, 64);
    padding-right: 200pt;
    padding-left: 200pt;
    padding-bottom: 20pt;
    margin-right: 100pt;
    margin-left: 100pt;
}

p#login {
    font-size: 24pt;
}

section {

    background-image: linear-gradient(rgb(0, 4, 112), rgb(74, 13, 104), rgb(38, 2, 56));
    border-radius: 10px;
    margin-left: 100pt;
    margin-right: 100pt;
    margin-top : 30pt;
}

input {
    margin: 10pt;
    border-radius: 5px;
    padding: 8px;

}

button {
    margin-bottom: 25pt;
    text-align: justify;
}

/*Isso vai empurrar o footer para aixo, e o margin-top auto, vai automatizar o espaço margin e tals, tu deve lembrar do padding / margin*/

body>footer {
    margin-top: auto;
}

footer {
    background-color: rgb(253, 4, 4);
    color: black;
    margin-top: 25pt;
    padding-top: 3pt;
    padding-bottom: 3pt;
    position: relative;
    margin-left: 100pt;
    margin-right: 100pt;
}